/* 
Álvaro González Erigoyen - UO282790 - SEW.L-04

Estilos generales de la web
*/

/* --- GENERAL --- */
/*Especificidad 1*/
body {
  font-family: monospace;
  font-size: 15pt;
  background-color: rgb(216, 216, 216);
}

/*Especificidad 1*/
p {
  background-color: rgb(216, 216, 216);
  margin: 0.5ex;
  text-align: justify;
}

/*Especificidad 1*/
h1 {
  background-color: rgb(25, 114, 203);
  border: 0.5ex;
  border-color: black;
  border-style: dashed;
  padding: 0.5ex;
  text-align: center;
}

/*Especificidad 1*/
h2 {
  background-color: rgb(51, 127, 204);
  border: 1px;
  border-color: black;
  border-style: solid;
  padding: 0.5ex;
  margin:0.3ex;

}

h3 {
  background-color: rgb(65, 158, 252);
  border: 1px;
  border-color: black;
  border-style: solid;
  padding: 0.5ex;
  margin-top: 0.3ex;
  margin-bottom: 0.3ex;
}

/* --- NAVEGACIÓN --- */
/*Especificidad 1*/
nav {
  background-color: rgb(133, 198, 255);
  border: 0.1ex;
  border-style: solid;
  margin: 0.3ex;
  padding: 0.5ex;
}

nav a {
  color:black;
  background-color: rgb(147, 203, 251);
  margin-right: 0.5ex;
  padding: 0.2ex;
  border: 0.1ex;
  border-style: solid;
}

nav a:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  margin-right: 0.5ex;
  padding: 0.2ex;
  border: 0.1ex;
  border-style: solid;
}

aside {
  border: 0.1ex;
  border-style: solid;
}
aside section {
  border-style: hidden;
}

/* --- FOOTER --- */
/*Especificidad 1*/
footer {
  background-color: rgb(133, 198, 255);
  text-align: center;

  padding: 0.5ex;
  padding-top: 0.7ex;
}

/* --- CONTENIDO --- */
article {
  border: 0.1ex;
  border-style: solid;
}

/*Especificidad 1*/
section {
  /*
  border: 0.1ex;
  border-style: solid;
  */
  margin: 0.3ex;
  padding: 0.3ex;
}

/* --- TABLAS --- */

/*Especificidad 1*/
table {
  background-color: rgb(133, 198, 255);
  display: inline;
}

/*Especificidad 2*/
table caption {
  background-color: rgb(100, 150, 195);
}

/*Especificidad 2*/
table th {
  font-weight: bold;
  background-color: rgb(119, 177, 228);
}

/*Especificidad 2*/
table td {
  font-style: italic;
}

/*Especificidad 13*/
table tr td:last-child {
  color: red;
  font-weight: bold;
}

/*Especificidad 13*/
table tr td:first-child {
  color: blue;
  font-weight: bold;
}

/* --- DEFINICIONES --- */

/*Especificidad 11*/
dd:hover {
  background-color: rgb(133, 198, 255);
}

/*Especificidad 1*/
dt {
  font-weight: bold;
}

/* --- IMAGENES --- */
img {
  width: 15vw;
  height: 15vw;
}

footer img {
  width: 5vw;
  height: 5vw;
}

@media (max-width: 600px) {
  img {
    width: 35vw;
    height: 35vw;
  }

  footer img {    
    width: 10vw;
    height: 10vw;
  }
}

/* --- VIDEO --- */
video {
  width: 60vw;
  height: 35vw;
}

/* --- AUDIO --- */
audio {
  margin-top: 2ex;
  width: 70vw;
}
